/* CSS declarations go here */
#login-buttons a {
    color: #423838;
    display: block;
    margin-top: 17px;
    text-decoration: none;
}

.container-full {
  margin: 0 auto;
  width: 90%;
}

#my  {
    border-collapse: collapse;
}

#my, th, td {
    border: 1px solid black;
}